15/10/2023

In [3]:
print("Hii,  this is my first python code...!")

Hii,  this is my first python code...!

In [1]:
# Lists of employees
list1 = ["Ramesh", "Suresh", "Mahesh", "Ali", "Jacob", "Saritha"]
list2 = ["Ali", "Mukesh", "Mahesh", "Jacob", "Sai", "Sarita"]

# Initialize an empty list to store common elements
common_employees = []

# Check for common elements without using built-in functions
for name1 in list1:
    for name2 in list2:
        if name1 == name2:
            common_employees.append(name1)
            break  # Break the inner loop once a common element is found

# Display the common employees
print("Common employees:", common_employees)

Common employees: ['Mahesh', 'Ali', 'Jacob']

In [6]:
#variable and type

name="JAY"
print("name",name ,type(name))

name=2.3
print("name",name ,type(name))

name=True
print("name",name ,type(name))

name="T"
print("name",name ,type(name))

name=3+7j
print("name",name ,type(name))

name JAY <class 'str'>
name 2.3 <class 'float'>
name True <class 'bool'>
name T <class 'str'>
name (3+7j) <class 'complex'>

In [9]:
# Arithmetic Operations
x=10
y=3

add=x+y
print("add",add)

sub=x-y
print("sub",sub)

div=x/y
print("div",div)

multi=x*y
print("multi",multi)

floor=x//y
print("floor",floor)

mood=x%y
print("mood",mood)

add 13
sub 7
div 3.3333333333333335
multi 30
floor 3
mood 1

In [10]:
# Comparision Operators

x=10
y=5

equal=x==y
not_eq=x!=y
gt=x>y
lt=x<y
print(equal,not_eq,gt,lt)

False True True False

In [11]:
#logical Operators
a=True
b=False
print( a and b , a or b , not a)

False True False

In [12]:
## Assingnment Operator
x=10
print(x)
x+=5
print(x)

10
15

In [13]:
# identety and Membership Op
x=[1,2,3]
y=x
print(x is y)
print(2 in x)
print(5 in x)

True
True
False

In [15]:
#Taking input from user
name = input("Enter your Name")
print("Hello,",name)

Hello,  prashant

In [20]:
name ="prashant"
surName= "jadhav"
houseNumber= 100
print("My name is %s" % name)
print("My Sure name is %s" % surName)
print("My name is %s %s and house number is %d" %( name , surName,houseNumber))

My name is prashant
My Sure name is jadhav
My name is prashant jadhav and house number is 100

In [21]:
name ="prashant"
surName= "jadhav"
houseNumber= 100
print(f"My name is {name}")
print(f"My Sure name is {surName}")
print(f"My name is{name} {surName} and house number is  {houseNumber}")

My name is prashant
My Sure name is jadhav
My name isprashant jadhav and house number is  100

In [22]:
# comment

# This is single line comment

#multi-line comment
"""This is a
    Multi-Line comment
    """

'This is a\n    Multi-Line comment\n    '

In [ ]:
# String Slicing

In [58]:
# name= "prashant jadhav"
# name= "VaibhaV Arde waeshhrjhgrdfsgd"
name= "VaibhaV Arde waeshhrjhgrdfsgd"
print("name",name)
print("Slicing")
name[0:9]

name VaibhaV Arde waeshhrjhgrdfsgd
Slicing

'VaibhaV A'

In [53]:
print(name[0:8])
print(name[3:8])
print(name[0::2])
print(name[0::3])

VaibhaV
bhaV
VihVAd
VbVr

In [54]:
name[::-1]

'edrA VahbiaV'

In [55]:
int(len(name)/2)

6

In [62]:
print(name.find('bhaV'))

3

In [63]:
name[name.find('bhaV')::]

'bhaV Arde waeshhrjhgrdfsgd'

In [73]:
name[:-11:-1]

'dgsfdrghjr'

In [74]:
name[-11::]

'hrjhgrdfsgd'

In [76]:
# Type casting

num=12345
print(str(num))
print(type(str(num)))

12345
<class 'str'>

In [80]:
# Type casting

num="12345"
print(int(num))
print(type(int(num)))

12345
<class 'int'>