In [6]:
l=[23,5,45,56,6,67,67,78,87,8998 ,9,9,8]

In [7]:
l

[23, 5, 45, 56, 6, 67, 67, 78, 87, 8998, 9, 9, 8]

In [27]:
sum1=0
for i in l:
    sum1+=i
print(sum1)

9458

In [28]:
sum1=0
for i in range(0,len(l)):
    sum1+=l[i]

print("sum",sum1)

sum 9458

In [10]:
sum1=0
l1=[1,2,3,4,7,8,98]
sum(l1)

123

In [30]:
for i in range(0,len(l1)):
    sum1+=l1[i]

print("sum",sum1)

sum 9581

In [26]:
sum1=0
for i in l:
    print("number is : ",i)
    sum1+=i
    print("sum in for : ",sum1)
print(sum1)

number is :  23
sum in for :  23
number is :  5
sum in for :  28
number is :  45
sum in for :  73
number is :  56
sum in for :  129
number is :  6
sum in for :  135
number is :  67
sum in for :  202
number is :  67
sum in for :  269
number is :  78
sum in for :  347
number is :  87
sum in for :  434
number is :  8998
sum in for :  9432
number is :  9
sum in for :  9441
number is :  9
sum in for :  9450
number is :  8
sum in for :  9458
9458

In [11]:

sum(l1)

123

In [2]:

t=(1,2,3,4,4,5)

In [34]:
sum1=0
for i in t:
    sum1+=i
print(sum1)

19

In [3]:
sum(t)

19

In [12]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [18]:
sum=0
for i in range(1,11):
    print(i)
    sum+=(i)
print("sum of 1 to 10 Numbers ",sum)

1
2
3
4
5
6
7
8
9
10
sum of 1 to 10 Numbers  55

In [20]:
for i in range (1500 , 2701):
    if i%7==0 and i*5:
        print(i)

1505
1512
1519
1526
1533
1540
1547
1554
1561
1568
1575
1582
1589
1596
1603
1610
1617
1624
1631
1638
1645
1652
1659
1666
1673
1680
1687
1694
1701
1708
1715
1722
1729
1736
1743
1750
1757
1764
1771
1778
1785
1792
1799
1806
1813
1820
1827
1834
1841
1848
1855
1862
1869
1876
1883
1890
1897
1904
1911
1918
1925
1932
1939
1946
1953
1960
1967
1974
1981
1988
1995
2002
2009
2016
2023
2030
2037
2044
2051
2058
2065
2072
2079
2086
2093
2100
2107
2114
2121
2128
2135
2142
2149
2156
2163
2170
2177
2184
2191
2198
2205
2212
2219
2226
2233
2240
2247
2254
2261
2268
2275
2282
2289
2296
2303
2310
2317
2324
2331
2338
2345
2352
2359
2366
2373
2380
2387
2394
2401
2408
2415
2422
2429
2436
2443
2450
2457
2464
2471
2478
2485
2492
2499
2506
2513
2520
2527
2534
2541
2548
2555
2562
2569
2576
2583
2590
2597
2604
2611
2618
2625
2632
2639
2646
2653
2660
2667
2674
2681
2688
2695

In [21]:
d={
    "name":"Prashant",
    "class":"data science",
    "topic":["python","stats","machine learning","dl","cv","nlp","resume","interview "]
}

In [22]:
d

{'name': 'Prashant',
 'class': 'data science',
 'topic': ['python',
  'stats',
  'machine learning',
  'dl',
  'cv',
  'nlp',
  'resume',
  'interview ']}

In [23]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [24]:
for i in d.keys():
    print(d[i])

Prashant
data science
['python', 'stats', 'machine learning', 'dl', 'cv', 'nlp', 'resume', 'interview ']

In [25]:
d.values()

dict_values(['Prashant', 'data science', ['python', 'stats', 'machine learning', 'dl', 'cv', 'nlp', 'resume', 'interview ']])

In [27]:
for i in d.values():
    print(i)

Prashant
data science
['python', 'stats', 'machine learning', 'dl', 'cv', 'nlp', 'resume', 'interview ']

In [29]:
d.items()

dict_items([('name', 'Prashant'), ('class', 'data science'), ('topic', ['python', 'stats', 'machine learning', 'dl', 'cv', 'nlp', 'resume', 'interview '])])

In [30]:
for i in d.items():
    print(i)

('name', 'Prashant')
('class', 'data science')
('topic', ['python', 'stats', 'machine learning', 'dl', 'cv', 'nlp', 'resume', 'interview '])

In [31]:
#

In [32]:
# # while Loop 
#          The loop that allows you to repeat an action 
#     as long as a condition is true: the while loop.

In [33]:
a=1

while(a<=10):
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10

In [41]:
n=int(input("Enter Input "))
sum=0
count=1 
while(count<=n):
    print(count)
    sum+=count
    count+=1
print("sum is 1 to ",n," is ",sum)

Enter Input 10
1
2
3
4
5
6
7
8
9
10
sum is 1 to  10  is  55

In [44]:
n=int(input("Enter Input "))
sumofodd=0
count=1
while(count<=n):
    print(count)
    sumofodd+=count
    count+=2
print("sum of odd numbers in 1 to ",n," is ",sumofodd)

Enter Input 5
1
3
5
sum of odd numbers in 1 to  5  is  9

In [47]:
n=int(input("Enter Input "))
sumofeven=0
count=0
while(count<=n):
    print(count)
    sumofeven+=count
    count+=2
print("sum of Even numbers in 1 to ",n," is ",sumofeven)

Enter Input 5
0
2
4
sum of Even numbers in 1 to  5  is  6

In [48]:
n=int(input("Enter Input "))
sum=0
while(n>0):
    print(count)
    sum*=count
    count+=21
print("sum of Even numbers in 1 to ",n," is ",sum)

Enter Input 0
sum of Even numbers in 1 to  0  is  0

In [ ]:
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

num = 6
factorial_num = factorial(num)
print(f"The factorial of {num} is {factorial_num}")

In [52]:
n=int(input("Enter Input "))
result=1
for i in range(1, n+1):
    result *=i
result

Enter Input 5

120

In [4]:
n=int(input("Enter Input "))
result=1
num=n
while(n>0):
    result *=n
    n= n-1
print("factorial of ",num,"is",result)

Enter Input 5
factorial of  5 is 120

In [5]:
n=int(input("Enter Input "))
result=1
num=n
while(n>0):
    result *=n
    n= n-1
print("factorial number of ",num,"is",result)

Enter Input 3
factorial number of  3 is 6

In [8]:
# num=> 0 1 1 2,3 ,5,.....
number = int(input("Enter Number "))
counter=0
a,b=0,1
print("Fobinacii series of",number,"numbers ",)
while(counter<number):
    print(a)
    c= a+b
    a=b
    b=c
    counter+=1

Enter Number 5
Fobinacii series of 5 numbers
0
1
1
2
3

In [9]:
# num=> 0 1 1 2,3 ,5,.....
# number = int(input("Enter Number "))
counter=0
a,b=0,1
for i in range(10):
    print(a)
    c=a+b
    a=b
    b=c
    counter+=1

0
1
1
2
3
5
8
13
21
34

In [10]:
# num=> 0 1 1 2,3 ,5,.....
number = int(input("Enter Number "))
counter=0
a,b=0,1
for i in range(number):
    print(a)
    c=a+b
    a=b
    b=c
    counter+=1

Enter Number 5
0
1
1
2
3