In [ ]:
# # Control Statements if && elif

# and use & (single & sign)  and
# or use | (use single | sign)

In [1]:
a=int(input())

if(a>=80):
    print("A")
elif(a>=60 and a<80):
    print("B")
elif(a>=40 and a<60):
    print("C")   
else:
    print("D")

 5

D

In [2]:
True | False

True

In [3]:
price = int(input("Enter Some Value"))

if price > 1000:
    print("I will not purchase")
    if(price >5000):
        print("this is to much")
    elif(price < 2000):
        print("Its Ok !!")
        
elif(price<1000):
    print("I will Purchase ")
else:
    print("Not intrested")

Enter Some Value 100

I will Purchase

In [4]:
price = int(input("Enter Some Value"))

if price > 1000:
    print("I will not purchase")
    if(price >5000):
        print("this is to much")
    elif(price < 2000):
        print("Its Ok !!")
        
elif(price<1000):
    print("I will Purchase ")
else:
    print("Not intrested")

Enter Some Value 1000

Not intrested

In [5]:
price = int(input("Enter Some Value"))

if price > 1000:
    print("I will not purchase")
    if(price >5000):
        print("this is to much")
    elif(price < 2000):
        print("Its Ok !!")
        
elif(price<1000):
    print("I will Purchase ")
else:
    print("Not intrested")

Enter Some Value 1500

I will not purchase
Its Ok !!

In [6]:
price = int(input("Enter Some Value"))

if price > 1000:
    print("I will not purchase")
    if(price >5000):
        print("this is to much")
    elif(price < 2000):
        print("Its Ok !!")
        
elif(price<1000):
    print("I will Purchase ")
else:
    print("Not intrested")

Enter Some Value 5000

I will not purchase

In [8]:
price = int(input("Enter Some Value"))

if price > 1000:
    print("I will not purchase")
    if(price >5000):
        print("this price is to much ")
    elif(price < 2000):
        print("Its Ok !!")
        
elif(price<1000):
    print("I will Purchase ")
else:
    print("Not intrested")

Enter Some Value 7000

I will not purchase
this price is to much

In [2]:
price = int(input("Enter Some Value "))

if price > 1000:
    print("I will not purchase")
    if(price >5000):
        print("this is to much")
    elif(price < 2000):
        print("Its Ok !!")
        
elif(price<1000):
    print("I will Purchase ")
else:
    print("Not intrested")

Enter Some Value 5
I will Purchase

In [18]:
l=[1,2,3,4,5,6,7,8]
len(l)

8

In [6]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8

In [7]:
for i in l:
    l=(i)+1
    print(l)

2
3
4
5
6
7
8
9

In [15]:
for i in l:
    print(i)

TypeError: 'int' object is not iterable

In [16]:
for i in l:
    print(i)

TypeError: 'int' object is not iterable

In [19]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8

In [26]:
li=[]
for i in l:
    print(i)

1
2
3
4
5
6
7
8

In [28]:
li=[]
for i in l:
    
    print(i+1)

2
3
4
5
6
7
8
9

In [29]:
li=[]
for i in l:
    li+=[i+1]
    print(i+1)

2
3
4
5
6
7
8
9

In [30]:
li

[2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
li=[]
for i in l:
    li+=[i+1]
    print(i+1)
print("======================================")   

print("List of Li") 
li

2
3
4
5
6
7
8
9
======================================
List of Li

[2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [39]:
for x in [0, 1, 2]:
  pass

In [41]:
print(l)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8]
[2, 3, 4, 5, 6, 7, 8, 9]

In [53]:

print("======================================")
print("          Use of Append               ")
print("======================================") 
li1=[]
for i in l:
    li1.append(i+1)
    print(i+1)
print("======================================")   

print("List of Li") 
print("List l =   ",l)
print("List li1 = ",li1)

======================================
          Use of Append
======================================
2
3
4
5
6
7
8
9
======================================
List of Li
List l =    [1, 2, 3, 4, 5, 6, 7, 8]
List li1 =  [2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
l3=["prashant","kumar","pwskills","course"]

In [56]:
l4=[]
for i in l3:
    print(i)

prashant
kumar
pwskills
course

In [68]:
l4=[]
for i in l3:
    l4.append(i.upper())
print(l4)

['PRASHANT', 'KUMAR', 'PWSKILLS', 'COURSE']

In [67]:
l4=[]
for i in l3:
    l4+=i.upper()
print(l4)

['P', 'R', 'A', 'S', 'H', 'A', 'N', 'T', 'K', 'U', 'M', 'A', 'R', 'P', 'W', 'S', 'K', 'I', 'L', 'L', 'S', 'C', 'O', 'U', 'R', 'S', 'E']

In [69]:
l4

['PRASHANT', 'KUMAR', 'PWSKILLS', 'COURSE']

In [70]:
l4=[]
for i in l3:
    print(i)
    l4.append(i.upper())
print(l4)

prashant
kumar
pwskills
course
['PRASHANT', 'KUMAR', 'PWSKILLS', 'COURSE']

In [71]:
l5=[1,2,3,4,5,"prashant",78.4 ,"abd"]

In [72]:
for i in l5:
    print(i)

1
2
3
4
5
prashant
78.4
abd

In [91]:
l5=[1,2,3,4,5,"prashant",78.4 ,"abd"]
l6=[]
l7=[]
for i in l5:
    print(i)
    if(type(i)==int or type(i)==float):
        l6.append(i)
    if(type(i)==str):
        l7.append(i)    
print(l6)
print(l7)

1
2
3
4
5
prashant
78.4
abd
[1, 2, 3, 4, 5, 78.4]
['prashant', 'abd']

In [100]:
#  We use | symbol in array but it gives empty 
#     becauseIn Python, the logical OR operator is represented by or, not |. 
#     The | symbol is a bitwise OR operator, not a logical operator.
#     It performs bitwise operations on integers but
#     does not work as a logical operator on boolean values or conditions.

l5=[1,2,3,4,5,"prashant",78.4 ,"abd"]
l6=[]
l7=[]
print(l5)
for i in l5:

    if(type(i)==int | type(i)==float):
        l6.append(i)
    if(type(i)==str):
        l7.append(i)    
print(l6)
print(l7)

[1, 2, 3, 4, 5, 'prashant', 78.4, 'abd']
[]
['prashant', 'abd']

In [106]:
l5=[1,2,3,4,5,"prashant",78.4 ,"abd",True ]
l6=[]
l7=[]
print(l5)
print()
for i in l5:

    if(type(i)==int or type(i)==float):
        l6.append(i)
    else:
        l7.append(i)    
print("Numbers ",l6)
print("String",l7)

[1, 2, 3, 4, 5, 'prashant', 78.4, 'abd', True]

Numbers  [1, 2, 3, 4, 5, 78.4]
String ['prashant', 'abd', True]

In [108]:

l5=[1,2,3,4,5,"prashant",78.4 ,"abd",True]
l6=[]
l7=[]
print(l5)
for i in l5:

    if(type(i)==int or type(i)==float):
        l6.append(i)
    elif(type(i)==str):
        l7.append(i)    
print(l6)



print(l7)

[1, 2, 3, 4, 5, 'prashant', 78.4, 'abd', True]
[1, 2, 3, 4, 5, 78.4]
['prashant', 'abd']

In [ ]:

# [] = it is list 
# () =  tuple
# {}= with elements set
# {} = with key and value pair dict