In [1]:
t=(1, 'prashant', 12, True, 23.5, (2+3j), 'jay')

In [2]:
t

(1, 'prashant', 12, True, 23.5, (2+3j), 'jay')

In [3]:
t(1)

TypeError: 'tuple' object is not callable

In [4]:
t=(1, 'prashant', 12, True, 23.5, (2+3j), 'jay',3,[3,5,4])

In [5]:
t.count(3)

1

In [6]:
t.count('a')

0

In [7]:
s={1,2,3,4,5,7,8}

In [8]:
s

{1, 2, 3, 4, 5, 7, 8}

In [9]:
l =[1,2,3,4,12,2,1,3,4,567,8,45,85,"Prashant","prashant"]

In [10]:
l=list(set(l))

In [11]:
l

[1, 2, 3, 4, 8, 12, 45, 'Prashant', 85, 'prashant', 567]

In [12]:
s.add(45)

In [ ]:
s

In [13]:
s.remove(4)

In [14]:
s

{1, 2, 3, 5, 7, 8, 45}

In [15]:
l=set(l)

In [16]:
l

{1, 12, 2, 3, 4, 45, 567, 8, 85, 'Prashant', 'prashant'}

In [17]:
l.add("Jadhav")

In [18]:
l

{1, 12, 2, 3, 4, 45, 567, 8, 85, 'Jadhav', 'Prashant', 'prashant'}

In [19]:
l.update("Prashant","pj")

In [20]:
l

{1,
 12,
 2,
 3,
 4,
 45,
 567,
 8,
 85,
 'Jadhav',
 'P',
 'Prashant',
 'a',
 'h',
 'j',
 'n',
 'p',
 'prashant',
 'r',
 's',
 't'}

In [21]:
s1={ 1,4,8}

In [22]:
s1.update("pj")

In [27]:
s1

{1, 4, 8, 'j', 'p'}

In [24]:
l =[1,2,3,4,12,2,1,3,4,567,8,45,85,"Prashant","prashant"]

In [28]:
l.update(s1)

AttributeError: 'list' object has no attribute 'update'

In [29]:
l1=l.pop()

In [30]:
l1

'prashant'

In [31]:
l

[1, 2, 3, 4, 12, 2, 1, 3, 4, 567, 8, 45, 85, 'Prashant']

In [32]:
l.clear()

In [33]:
l

[]

In [34]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [35]:
set1.union(set2)

{1, 2, 3, 4, 5}

In [36]:
set1.intersection(set2)

{3}

In [37]:
set1.issuperset(set2)

False

In [38]:
set1

{1, 2, 3}

In [39]:
set1.difference(set2)

{1, 2}

In [40]:
set2.difference(set1)

{4, 5}

In [41]:
# Dictionary

In [42]:
d={'name':"Prashant", 'M_name':"Shivaji" ,'l_name':"jadhav" ,"phno":123456}

In [43]:
d

{'name': 'Prashant', 'M_name': 'Shivaji', 'l_name': 'jadhav', 'phno': 123456}

In [44]:
type(d)

dict

In [45]:
d['name']

'Prashant'

In [46]:
d['phno']

123456

In [47]:
d1={'name':"Prashant", 'M_name':"Shivaji" ,'l_name':"jadhav" ,"phno":123456,"name":"prashant"}

In [48]:
d1

{'name': 'prashant', 'M_name': 'Shivaji', 'l_name': 'jadhav', 'phno': 123456}

In [49]:
d2={'name':"Prashant", "cousrses":["mca","bsc","ba"]}

In [50]:
d2

{'name': 'Prashant', 'cousrses': ['mca', 'bsc', 'ba']}

In [51]:
d2["cousrses"][1]

'bsc'

In [52]:
d4={ "number" : [1,34,3,34,34] , "assignment " : (1,2,3,4,5,6)}

In [53]:
d4

{'number': [1, 34, 3, 34, 34], 'assignment ': (1, 2, 3, 4, 5, 6)}

In [54]:
d4['assignment ']

(1, 2, 3, 4, 5, 6)

In [55]:
d4

{'number': [1, 34, 3, 34, 34], 'assignment ': (1, 2, 3, 4, 5, 6)}

In [57]:
D5={"number":[1,2,3,4,5,6,7] ,  'assignment ': (1, 2, 3, 4, 5, 6) , "lanch_date":{12,14,5}, "Class_time ":{"Web_dev":8 , "Data Science Master ":8 ,"Java design":7 , }}

In [58]:
D5

{'number': [1, 2, 3, 4, 5, 6, 7],
 'assignment ': (1, 2, 3, 4, 5, 6),
 'lanch_date': {5, 12, 14},
 'Class_time ': {'Web_dev': 8, 'Data Science Master ': 8, 'Java design': 7}}

In [ ]:
D5['lanch_date']

In [59]:
d5 =list(D5['lanch_date'])

In [60]:
d5

[12, 5, 14]

In [61]:
D5.keys()

dict_keys(['number', 'assignment ', 'lanch_date', 'Class_time '])

In [62]:
D5.get()

TypeError: get expected at least 1 argument, got 0

In [63]:
list(D5.keys())

['number', 'assignment ', 'lanch_date', 'Class_time ']

In [64]:
D5.values()

dict_values([[1, 2, 3, 4, 5, 6, 7], (1, 2, 3, 4, 5, 6), {12, 5, 14}, {'Web_dev': 8, 'Data Science Master ': 8, 'Java design': 7}])

In [65]:
list(D5.values())

[[1, 2, 3, 4, 5, 6, 7],
 (1, 2, 3, 4, 5, 6),
 {5, 12, 14},
 {'Web_dev': 8, 'Data Science Master ': 8, 'Java design': 7}]

In [66]:
D5.items()

dict_items([('number', [1, 2, 3, 4, 5, 6, 7]), ('assignment ', (1, 2, 3, 4, 5, 6)), ('lanch_date', {12, 5, 14}), ('Class_time ', {'Web_dev': 8, 'Data Science Master ': 8, 'Java design': 7})])

In [67]:
list(D5.items())

[('number', [1, 2, 3, 4, 5, 6, 7]),
 ('assignment ', (1, 2, 3, 4, 5, 6)),
 ('lanch_date', {5, 12, 14}),
 ('Class_time ', {'Web_dev': 8, 'Data Science Master ': 8, 'Java design': 7})]

In [68]:
D5.pop()

TypeError: pop expected at least 1 argument, got 0

In [69]:
list(D5.items()).pop()

('Class_time ', {'Web_dev': 8, 'Data Science Master ': 8, 'Java design': 7})

In [70]:
D5

{'number': [1, 2, 3, 4, 5, 6, 7],
 'assignment ': (1, 2, 3, 4, 5, 6),
 'lanch_date': {5, 12, 14},
 'Class_time ': {'Web_dev': 8, 'Data Science Master ': 8, 'Java design': 7}}

In [71]:
D5.get('number')

[1, 2, 3, 4, 5, 6, 7]

In [72]:
D5.get('lanch_date')

{5, 12, 14}

In [73]:
D5.popitem()

('Class_time ', {'Web_dev': 8, 'Data Science Master ': 8, 'Java design': 7})

In [74]:
#Control Statements 
# if ested_if if_else if_el_if 


a=4
b=3
if(a==b):
    print(a,"is equal",b)
else:
    print(a,"is not equal",b)

4 is not equal 3

In [76]:
a=input()
b=input()
if(a==b):
    print(a,"is equal",b)
else:
    print(a,"is not equal",b)

45 is not equal 50

In [77]:
a=input()
b=input()
if(a==b):
    print(a,"is equal",b)
elif(a>=b):
    print(a,"is greter than",b)
elif(a<=b):
    print(b,"is greater than",a)
else:
     print("check numbers",a)

12 is equal 12

In [ ]:

a=int(input())

if(a>=80):
    print("A")
elif(a>=60 and a<80):
    print("B")
elif(a>=40 and a<60):
    print("C")   
else:
    print("D")

In [ ]:

a=int(input())

if(a>=80):
    print("A")
elif(a>=60 and a<80):
    print("B")
elif(a>=40 and a<60):
    print("C")   
else:
    print("D")

In [78]:

a=int(input())

if(a>=80):
    print("A")
elif(a>=60 and a<80):
    print("B")
elif(a>=40 and a<60):
    print("C")   
else:
    print("D")

D