In [1]:
import pandas as pd

In [4]:
df2 = pd.read_excel("https://docs.google.com/spreadsheets/d/1XJWhtAT0YH_g8aavhkfKI7w96g_9cENG/edit#gid=1242802914")

ValueError: Excel file format cannot be determined, you must specify an engine manually.

In [15]:
import gdown
import pandas as pd

# Replace the URL with the actual sharing link of your Google Sheets document
google_sheets_url = 'https://docs.google.com/spreadsheets/d/1XJWhtAT0YH_g8aavhkfKI7w96g_9cENG/export?format=csv&gid=1242802914'
csv_file_path = 'data.csv'
gdown.download(google_sheets_url, csv_file_path, quiet=False)
df = pd.read_csv(csv_file_path)
# df2 = pd.read_csv(csv_file_path)
# df1 = pd.read_csv(csv_file_path)
# df3 = pd.read_csv(csv_file_path)
# Display the DataFrame
print(df)

c:\Users\PRASHANT\AppData\Local\Programs\Python\Python311\Lib\site-packages\gdown\parse_url.py:44: UserWarning: You specified a Google Drive link that is not the correct link to download a file. You might want to try `--fuzzy` option or the following url: https://drive.google.com/uc?id=None
  warnings.warn(
Downloading...
From: https://docs.google.com/spreadsheets/d/1XJWhtAT0YH_g8aavhkfKI7w96g_9cENG/export?format=csv&gid=1242802914
To: e:\PYTHON\PythonLab\Pandas\data.csv
14.8kB [00:00, 4.95MB/s]

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3    0101-02-01             Help Pay for Food    101-02        Emergency Cash
4    0101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285  0111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [54]:
# df = pd.read_csv(csv_file_path)
df = pd.read_csv("data.csv")

In [55]:
display(df)

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3    0101-02-01             Help Pay for Food    101-02        Emergency Cash
4    0101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285  0111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [16]:
# import pandas as pd

# # Replace with the published URL of your Google Sheets document
# google_sheets_url = 'https://docs.google.com/spreadsheets/d/e/.../pub?gid=1242802914&single=true&output=csv'

# # Read the CSV file directly into a pandas DataFrame
# df2 = pd.read_csv(google_sheets_url)
# df1 = pd.read_csv(google_sheets_url)
# df3 = pd.read_csv(google_sheets_url)

# # Display the DataFrame
# print(df2)

In [32]:
display(df)

    taxonomy_id                          name parent_id           parent_name
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3    0101-02-01             Help Pay for Food    101-02        Emergency Cash
4    0101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
5    0101-02-03          Help Pay for Housing    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285  0111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[279 rows x 4 columns]

In [56]:
display(len(df))
df1 = df.dropna()

290

In [36]:
df1

    taxonomy_id                          name parent_id           parent_name
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3    0101-02-01             Help Pay for Food    101-02        Emergency Cash
4    0101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
5    0101-02-03          Help Pay for Housing    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285  0111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[279 rows x 4 columns]

In [57]:
display(df1)

    taxonomy_id                          name parent_id           parent_name
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3    0101-02-01             Help Pay for Food    101-02        Emergency Cash
4    0101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
5    0101-02-03          Help Pay for Housing    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285  0111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[279 rows x 4 columns]

In [58]:
len(df2.columns)

4

In [59]:
df2 = df.fillna("Prashant")

In [60]:
df2

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency  Prashant              Prashant
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3    0101-02-01             Help Pay for Food    101-02        Emergency Cash
4    0101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285  0111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]